<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
  <title>ML API</title>
    </head>

    <body>
        <div class="login">
            <h1>Prediction of admission</h1>
            <form action="{{ url_for('predict')}}"method="post">
                <input type="text" name="GRE" placeholder="gre score" required="required"/>
                <input type="text" name="toefl" placeholder="toefl score" required="required"/>
                <input type="text" name="uni rating" placeholder="uni rating" required="required"/>
                <input type="text" name="sop" placeholder="sop" required="required"/>
                <input type="text" name="lor" placeholder="lor" required="required"/>
                <input type="text" name="cgpa" placeholder="cgpa" required="required"/>
                <input type="text" name="reseach" placeholder="research" required="required"/>

                <button type="submit" class="btn btn-primary btn-block btn-large">predict</button>
            </form>
            <br>
            <br>
            {{ prediction_text }}

        </div>
    </body>
    </html>
